<app-nav-component></app-nav-component>

<!-- <div class="row">
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
    <div class="col-sm-4">.col-sm-4</div>
  </div> -->

<!-- <div class="row">
    <div class="col-sm-6">
<div  id="my_centered_buttons">
    <button  class="button button2"  [routerLink]="['/add-book']" >Add Book</button>
</div>
    </div>

<div class="container-fluid">
   <img [src]= add class="add">
</div>
<br>
<div  id="my_centered_buttons">
    <button class="button button2"  [routerLink]="['/remove-book']" >Remove Book</button>
</div>
 
<div class="container-fluid">
   <img [src]= remove class="remove">
</div>
</div> -->
<div class="row">
    <div class="col-sm-6">
<div id="my_centered_buttons">
    <button class="button button2"  [routerLink]="['/add-book']" ><div class="container-fluid">
        <img [src]= add class="add">
     </div>Add Book</button>
</div>
</div>
<div class="col-sm-6">
<div id="my_centered_buttons">
    <button class="button button2"  [routerLink]="['/remove-book']" ><div class="container-fluid">
        <img [src]= remove class="add">
     </div>Remove Book</button>
</div>
</div>
</div>

<app-footer></app-footer>